extends layout

mixin post_form(action, text, id)
  - id = id || ''
  form.form-inline(method="POST", action="#{action}")
    .form-group
      block
    input(type="hidden",name="id",value="#{id}")
    button.btn.btn-default(type="submit")= text

mixin post_form_in_menu(action, text, id)
  - id = id || ''
  li
    form.form-inline(method="POST", action="#{action}")
      input(type="hidden",name="id",value="#{id}")
      block
      button.btn-as-line(type="submit")= text


block content
  .container
    .row
      .col-sm-12
        if queue.running
          h1 本周值班人员是：#{queue.current_item&&queue.current_item.value}
          .row
            .col-sm-8 下次更新值班人员时间点：#{date_format(queue.next_check_point)}
            .col-sm-4
              +post_form('/run','暂停')
        else 
          .row
            .col-sm-4
              | 值班队列暂停中 
            .col-sm-8
              +post_form('/run','开始')
        if queue.current_item
          +post_form('/close', '关闭')
    .row
      .col-sm-6
        table.table
          thead
            tr
              td 
                | 值班状态
          tbody
            each item in queue.running_queue
              tr
                td
                  label
                    = item.value
                  span.pull-right
                    = queue.stat_text(item.duty_stat)
                    if queue.chosen_next_item && item.id == queue.chosen_next_item.id
                      | - 下周值班
                    .inline.dropdown
                      i.glyphicon.glyphicon-chevron-down.dropdown-toggle(data-toggle="dropdown")
                      .dropdown-menu(role="menu")
                        li.dropdown-header
                          | 改变值班状态
                        if queue.chosen_next_item ? item.id != queue.chosen_next_item.id : true
                          +post_form_in_menu('/set_next','指定下周值班',item.id)
                        if queue.chosen_next_item && item.id == queue.chosen_next_item.id
                          +post_form_in_menu('/cancel_next','取消下周值班',item.id)
                        if queue.current_item ? item.id != queue.current_item.id : true
                          +post_form_in_menu('/remove_running_item','删除',item.id)
                        else 
                          li.dropdown-header
                            | 值班中人员无法直接删除，请指定其他人值班再行删除
                        if item.duty_stat == 'on_duty'
                          +post_form_in_menu('/set_stat','完成',item.id)
                            input(type="hidden",name="stat",value="end")
                        if item.duty_stat == 'waiting'
                          +post_form_in_menu('/set_stat','值班中',item.id)
                            input(type="hidden",name="stat",value="on_duty")
          tbody
            tr
              td
                +post_form('/add_base','添加临时成员')
                  input.form-control(type="text",name="val",placeholder="姓名")
      .col-sm-6
        table.table
          thead
            tr
              td
                | 组成员
          tbody
            each item in queue.base_queue
              tr
                td= item.value
                td
                  +post_form('/remove_base_item','删除',item.id)
          tbody
            tr
              td
                +post_form('/add_base','添加组成员')
                  input.form-control(type="text",name="val",placeholder="姓名")
